@charset "UTF-8";
/*beige*/
/*blue*/
/*black */
/*white*/
/* Supprime les marges et les rembourrages par défaut */
body,
h1,
h2,
h3,
p,
ul,
li,
figure,
figcaption,
blockquote {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  max-width: 1440px;
  width: 100%;
}

.jc-end {
  justify-content: flex-end;
}

.fd-column {
  flex-direction: column;
}

.fl-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: flex-end;
}

.ta-center {
  text-align: center;
}

.fw-wrap {
  flex-wrap: wrap;
}

h1 {
  font-family: "Jomhuria", serif;
  margin: 0;
}

h2 {
  font-size: 2rem;
  color: white;
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2,
a,
p,
li,
h3 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jc-end {
  justify-content: flex-end;
}

.fd-column {
  flex-direction: column;
}

.fl-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: flex-end;
}

.ta-center {
  text-align: center;
}

.fw-wrap {
  flex-wrap: wrap;
}

header {
  width: 100%;
  height: 81px;
  background-color: #0e062a;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  font-size: 6.45em;
  margin-left: 20%;
}
header nav {
  font-size: 1.45rem;
  display: flex;
  gap: 15px;
  margin-right: 2%;
}

/** accueil **/
/** main **/
.main-container {
  margin: 2%;
}

.accueil-body {
  background-color: #f1f0ca;
}

/** search-bar **/
.search-bar-container {
  margin-right: 5%;
  align-items: flex-end;
}

.search-bar {
  background-color: #0e062a;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 43px;
  position: relative;
}
.search-bar input {
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 1.25rem;
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}
.search-bar input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.fa-magnifying-glass {
  color: white;
  position: absolute;
  right: 25px;
}

/** menu de connection **/
.connection-menu h2 {
  margin: 45px;
}

.connection-menu {
  margin-top: 8%;
  margin-left: 7%;
  background-color: #0e062a;
  width: 35%;
  height: 503px;
  border-radius: 15px;
}

.connection-menu input {
  width: 90%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
}

.login {
  gap: 100px;
  margin-left: 10%;
}

.submit-button {
  margin-right: 10%;
}

form button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.35em;
}

.content-wrapper {
  margin-bottom: 12rem;
  gap: 180px;
}

/** Inscription **/
.signup-menu {
  bottom: 4rem;
  right: 16rem;
}

.signup-menu p {
  margin-bottom: 1.5rem;
  font-size: 1.28rem;
}

.signup-button {
  padding: 0.6rem 1.2rem;
  border-radius: 15px;
  border: 2px solid #0e062a;
  background: #f1f0ca;
  cursor: pointer;
  font-size: 1.65em;
  width: 265px;
  height: 62px;
}

/** livres du moment **/
.conteneur {
  margin: 2%;
  width: 100%;
}

.livres {
  width: 70%;
  margin-left: 5%;
}

.livres-actuel {
  gap: 11px;
  margin-bottom: 5rem;
}

.livres h2 {
  color: black;
  margin-bottom: 1.2rem;
}

.livres-cards {
  gap: 70px;
}

.livres-cards img {
  width: 17%;
  height: auto;
  border: solid 1px grey;
  border-radius: 10px;
}

/** categorie **/
.categorie {
  width: 25%;
  background-color: #0e062a;
}
.categorie h2 {
  margin: 1rem;
}

.categorie ul {
  list-style-type: none;
  color: white;
  margin-left: 1rem;
}
.categorie ul li {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

/** footer **/
.footer-container {
  width: 100%;
}

footer {
  background-color: #0e062a;
  height: 180px;
  display: flex;
  align-items: center;
}

.footer-about {
  gap: 36px;
  margin-left: 10em;
}
.footer-about a {
  font-size: 3em;
  font-family: "Jomhuria", serif;
}

.footer-icones {
  gap: 22px;
  font-size: 1.5em;
  margin-right: 5em;
}

/** Profile **/
/** main **/
.profil-main-container {
  background-color: #0e062a;
  width: 100%;
  gap: 35px;
}

.profil-banner {
  margin: 2%;
  gap: 50px;
}
.profil-banner img {
  width: 173px;
  height: 173px;
  border-radius: 60%;
}
.profil-banner .profil-description {
  width: 100%;
}
.profil-banner .profil-description h3 {
  font-size: 2rem;
  color: white;
}
.profil-banner .profil-description p {
  color: white;
}
.profil-banner .profil-description a {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profil-banner .profil-description span {
  display: flex;
  justify-content: center;
  font-family: "Jomhuria", serif;
  font-size: 3rem;
}
.profil-banner .profil-bio {
  width: 100%;
  gap: 15px;
}
.profil-banner .profil-stats {
  display: flex;
  gap: 25px;
}
.profil-banner .profil-description p {
  font-family: "Inria Sans", sans-serif;
  font-size: 1.25rem;
  opacity: 0.75;
}
.profil-banner .profil-description a p:hover {
  color: blue;
}
.profil-banner .profil-nav {
  justify-content: space-around;
  font-size: 1.5rem;
  width: 100%;
}

.favorites-books {
  margin: 2%;
  width: 70%;
  border: 2px red solid;
}/*# sourceMappingURL=main.css.map */