@charset "UTF-8";
/*gradient blue*/
/*blue*/
/* beige */
/*black */
/*white*/
/* Supprime les marges et les rembourrages par défaut */
body,
h1,
h2,
h3,
p,
ul,
li,
figure,
figcaption,
blockquote {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  max-width: 1440px;
  width: 100%;
}

h1 {
  font-family: "Inria Sans", sans-serif;
  margin: 0;
}

h2 {
  font-size: 2rem;
  color: white;
  font-family: "jomhuria", serif;
  font-weight: 400;
  font-style: normal;
}

h2,
a,
p,
li,
h3 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jc-end {
  justify-content: flex-end;
}

.fd-column {
  flex-direction: column;
}

.fd-row {
  flex-direction: row;
}

.fl-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: flex-end;
}

.ta-center {
  text-align: center;
}

.fw-wrap {
  flex-wrap: wrap;
}

/* modal animation */
@keyframes modalFadeZoom {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.modal-wrapper {
  animation: modalFadeZoom 0.3s ease forwards;
}

.modal-wrapper {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.modal[aria-hidden=false] .modal-wrapper {
  opacity: 1;
  transform: scale(1);
}

.submit-button {
  margin-right: 10%;
}
.submit-button label {
  color: white;
  gap: 10px;
}
.submit-button label input[type=checkbox] {
  width: 20px;
  height: 20px;
}

form button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.35em;
}

.signup-button {
  padding: 0.6rem 1.2rem;
  border-radius: 15px;
  border: 2px solid #0e062a;
  background: #0e062a;
  color: white;
  cursor: pointer;
  font-size: 1.35em;
  width: 230px;
  height: 45px;
}

.signup-form button[type=submit],
#close-modal {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #42376a;
}

.add-photo-button {
  position: relative;
  width: 110px;
  height: 110px;
  background-color: #0e062a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.add-photo-button::before {
  content: "+";
  position: absolute;
  left: 73px;
  bottom: 0px;
  font-size: 30px;
  color: #544783;
  background-color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-photo-button:hover {
  background-color: #155a44;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  visibility: hidden;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.modal[aria-hidden=false] {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal-wrapper {
  background-color: rgba(84, 71, 131, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.3s ease;
}

.modal[aria-hidden=false] .modal-wrapper {
  transform: scale(1);
  opacity: 1;
}

.signup-form {
  gap: 25px;
}
.signup-form input {
  display: block;
  margin-bottom: 10px;
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e2d0bd;
}

.image-preview-container .image-preview {
  width: 110px;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

header {
  width: 100%;
  height: 81px;
  background-color: #0e062a;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header a h1 {
  width: 18%;
}
header h1 {
  font-size: 3.45em;
}
header nav {
  font-size: 1.45rem;
  display: flex;
  gap: 15px;
  margin-right: 2%;
}

/** accueil **/
/** main **/
.accueil-body {
  background: #0e062a;
}

/** search-bar **/
.search-bar-container {
  align-items: flex-end;
  background-color: #0e062a;
}

.search-bar {
  background-color: #0e062a;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 43px;
  position: relative;
}
.search-bar input {
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 1.25rem;
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}
.search-bar input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.fa-magnifying-glass {
  color: white;
  position: absolute;
  right: 25px;
}

/** menu de connection **/
.connection-menu {
  margin-top: 8%;
  margin-left: 3%;
  background-color: rgba(66, 55, 106, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 45%;
  height: 503px;
  border-radius: 15px;
}
.connection-menu h2 {
  margin: 45px;
}
.connection-menu input {
  width: 90%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  background-color: #e2d0bd;
}
.connection-menu ::-moz-placeholder {
  padding-left: 10px;
}
.connection-menu ::placeholder {
  padding-left: 10px;
}

.login {
  gap: 100px;
  margin-left: 10%;
}

.content-wrapper {
  position: relative;
  width: 100%;
  background: linear-gradient(#0e062a 0%, #211842 27%, #312757 50%, #42366c 74%, #544783 100%);
}

.content-wrapper::before {
  content: "";
  position: absolute;
  top: -7%;
  left: 0px;
  width: 830px;
  background-image: url("../../assets/images/ee7438eefd5513d577360c31268e804282912507.png");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  height: 727px;
}

/** Inscription **/
.signup {
  background-color: #e2d0bd;
  padding: 43px 41px 27px 40px;
  gap: 20px;
  border-radius: 15px;
}

.signup-menu {
  bottom: 4rem;
  right: 16rem;
}
.signup-menu p {
  margin-bottom: 1.5rem;
  font-size: 1.32rem;
  text-align: left;
}

/** Linear gradient **/
.divider-gradient {
  height: 200px;
  background: linear-gradient(to bottom, #544783, #42366c, #312757, #211842, #0e062a);
  width: 100%;
  margin: 0;
}

/** livres du moment **/
.index-books {
  background-color: #0e062a;
  margin-bottom: 5%;
}

.books {
  width: 70%;
  margin-left: 5%;
}

.books-title {
  color: white;
  margin-bottom: 1.2rem;
  border-bottom: 2px solid #e2d0bd;
  width: 89%;
}

.current-books {
  gap: 11px;
  margin-bottom: 5rem;
}

.books-cards {
  gap: 70px;
}
.books-cards img {
  width: 17%;
  height: auto;
  border: solid 1px grey;
  border-radius: 10px;
}

/** categorie **/
.categorie {
  width: 25%;
  background-color: #0e062a;
  margin-right: 2%;
}
.categorie h2 {
  border-bottom: 2px solid #e2d0bd;
  margin-bottom: 5%;
}
.categorie ul {
  color: white;
  margin-left: 1.45rem;
}
.categorie ul li {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

/** footer **/
.footer-container {
  width: 100%;
}

footer {
  background-color: #0e062a;
  height: 180px;
  display: flex;
  align-items: center;
  border-top: solid 2px #e2d0bd;
  width: 95%;
}

.footer-about div {
  gap: 3rem;
}

.footer-about {
  margin-left: 10em;
}
.footer-about a {
  font-size: 3em;
  font-family: "Jomhuria", serif;
}
.footer-about p {
  color: white;
}

.footer-icones {
  gap: 22px;
  font-size: 1.5em;
  margin-right: 5em;
}

/** Profile **/
/** main **/
.profil-main-container {
  background-color: #0e062a;
  width: 100%;
  gap: 35px;
}

.profil-banner {
  margin: 2%;
  gap: 50px;
}
.profil-banner img {
  width: 173px;
  height: 173px;
  border-radius: 60%;
}
.profil-banner .profil-description {
  width: 100%;
}
.profil-banner .profil-description h3 {
  font-size: 2rem;
  color: white;
}
.profil-banner .profil-description p {
  color: white;
}
.profil-banner .profil-description a {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profil-banner .profil-description span {
  display: flex;
  justify-content: center;
  font-family: "Jomhuria", serif;
  font-size: 3rem;
}
.profil-banner .profil-bio {
  width: 100%;
  gap: 15px;
}
.profil-banner .profil-stats {
  display: flex;
  gap: 25px;
}
.profil-banner .profil-description p {
  font-family: "Inria Sans", sans-serif;
  font-size: 1.25rem;
  opacity: 0.75;
}
.profil-banner .profil-description a p:hover {
  color: blue;
}
.profil-banner .profil-nav {
  justify-content: space-around;
  font-size: 1.5rem;
  width: 100%;
}

.favorites-books {
  margin: 2%;
  width: 70%;
  border: 2px red solid;
}/*# sourceMappingURL=main.css.map */