/** accueil **/

/** main **/

.main-container {
  margin: 2%;
}

.accueil-body {
  background: linear-gradient(to bottom, #0e062a, #42376a);
}

/** search-bar **/
.search-bar-container {
  margin-right: 5%;
  align-items: flex-end;
}

.search-bar {
  background-color: $secondary-color;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 43px;
  position: relative;

  input {
    background: none;
    border: none;
    outline: none;
    color: $secondary-night-colors;

    font-size: 1.25rem;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
  }
  input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
}

.fa-magnifying-glass {
  color: $secondary-night-colors;
  position: absolute;
  right: 25px;
}

/** menu de connection **/
.connection-menu {
  margin-top: 8%;
  margin-left: 3%;
  background-color: rgba(66, 55, 106, 0.2);
  backdrop-filter: blur(10px);
  width: 45%;
  height: 503px;
  border-radius: 15px;

  h2 {
    margin: 45px;
  }

  input {
    width: 90%;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    background-color: $tertiary-color;
  }
  ::placeholder {
    padding-left: 10px;
  }
}

.login {
  gap: 100px;
  margin-left: 10%;
}

.content-wrapper {
  margin-bottom: 12rem;
  position: relative;
  width: 100%;
}

.content-wrapper::before {
  content: "";
  position: absolute;
  top: -12%;
  left: -28px;
  width: 830px;
  background-image: url("../../assets/images/ee7438eefd5513d577360c31268e804282912507.png");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  height: 832px;
}

/** Inscription **/

.signup {
  background-color: $tertiary-color;
  padding: 43px 41px 27px 40px;
  gap: 20px;
  border-radius: 15px;
}

.signup-menu {
  bottom: 4rem;
  right: 16rem;
  p {
    margin-bottom: 1.5rem;
    font-size: 1.32rem;
    text-align: left;
  }
}

/** livres du moment **/

.livres {
  width: 70%;
  margin-left: 5%;
  h2 {
    color: $tertiary-color;
    margin-bottom: 1.2rem;
  }
}

.livres-actuel {
  gap: 11px;
  margin-bottom: 5rem;
}

.livres-cards {
  gap: 70px;

  img {
    width: 17%;
    height: auto;
    border: solid 1px grey;
    border-radius: 10px;
  }
}

/** categorie **/

.categorie {
  width: 25%;
  background-color: $secondary-color;
  margin-right: 2%;
  h2 {
    margin: 1rem;
  }
  ul {
    list-style-type: none;
    color: $secondary-night-colors;

    margin-left: 1rem;
    li {
      margin-bottom: 1rem;
      font-size: 1.25rem;
    }
  }
}
