//variables
$primary-color: #42376a; /*gradient blue*/
$secondary-color: #0e062a; /*blue*/
$tertiary-color: #e2d0bd; /* beige */
$primary-night-color: black; /*black */
$secondary-night-colors: #ffff; /*white*/
