/* Supprime les marges et les rembourrages par défaut */
body,
h1,
h2,
h3,
p,
ul,
li,
figure,
figcaption,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  background-color: F1F0CA;
}

h1 {
  font-size: 112px;
  font-family: "Jomhuria", serif;
  margin: 0;
}

h3 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
  color: white;
}

.main-container {
  width: 100%;
  margin-top: 2%;
}

.fl-end {
  display: flex;
  justify-content: flex-end;
}

.fl-column {
  display: flex;
  flex-direction: column;
}

/** header **/

.site-name {
  margin-left: 3%;
}

.pagetop {
  width: 100%;
  height: 81px;
  background-color: #0e062a;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-barre {
  display: flex;
  gap: 15px;
  margin-right: 2%;
}

/** search-bar **/
.search-bar-container {
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.search-bar {
  background-color: #0e062a;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 43px;
  position: relative;
}

.search-bar input {
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 1.15em;
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  text-align: center;
}

.search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.fa-magnifying-glass {
  color: white;
  position: absolute;
  right: 25px;
}

/** menu de connection **/
.connection-menu h3 {
  margin: 45px;
}

.connection-menu {
  margin-top: 8%;
  margin-left: 7%;
  background-color: #0e062a;
  width: 30%;
  height: 503px;
  border-radius: 15px;
}

.connection-menu input {
  width: 90%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin-left: 45px;
}

.submit-button {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

form button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  position: absolute;
  right: 25px;
  top: 65px;
}

.content-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 12rem;
}

/** Inscription **/

.signup-menu {
  position: absolute;
  bottom: 4rem;
  right: 16rem;
  text-align: center;
}

.signup-menu p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.signup-button {
  padding: 0.6rem 1.2rem;
  border-radius: 15px;
  border: 2px solid #0e062a;
  background: var(--beige, #f1f0ca);
  cursor: pointer;
  font-size: 1.1em;
  width: 265px;
  height: 62px;
}

/** livres du moment **/

.conteneur {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}

.livres {
  width: 70%;
}

.livres-actuel {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 5rem;
}

.livres h3 {
  color: black;
  margin-bottom: 1.2rem;
}

.livres-cards {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}

.livres-cards img {
  width: 17%;
  height: auto;
  border: solid 1px grey;
  border-radius: 10px;
}

/** categorie **/

.categorie {
  width: 25%;
  background-color: #0e062a;
}

.categorie h3 {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.categorie ul {
  list-style-type: none;
  color: white;
  margin-left: 1rem;
}

.categorie ul li {
  margin-bottom: 1rem;
}

/** footer **/

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer {
  background-color: #0e062a;
  height: 180px;
  display: flex;
  align-items: center;
  width: 100%;
}

footer h3 {
  font-size: 3em;
  font-family: "Jomhuria", serif;
}

.footer-about {
  display: flex;
  gap: 36px;
  margin-left: 10em;
}

.footer-icones {
  display: flex;
  gap: 22px;
  justify-content: flex-end;
  font-size: 1.5em;
  margin-right: 5em;
}
