/* Supprime les marges et les rembourrages par défaut */
body,
h1,
h2,
h3,
p,
ul,
li,
figure,
figcaption,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  background-color: F1F0CA;
}

h1 {
  font-size: 112px;
  font-family: "Jomhuria", serif;
  margin: 0;
}

h3 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
}

.site-name {
  margin-left: 3%;
}

.pagetop {
  width: 100%;
  height: 9%;
  background-color: #0e062a;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-barre {
  display: flex;
  gap: 15px;
  margin-right: 2%;
}

.main-container {
  width: 100%;
}
